html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.css-selector {
  background: linear-gradient(143deg, #c6f6d5, #9cf2ee);
  background-size: 400% 400%;

  animation: AnimationName 8s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 1% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 1% 0%;
  }
}

.area-div {
  height: 35px;
  width: fit-content;
  border: 2px solid grey;
  z-index: 1;
  position: relative;
  padding: 2px;
}

.area-div:before {
  position: absolute;
  top: -20%;
  left: 20%;
  content: "";
  display: block;
  height: 10px;
  width: 90%;
  background: white;
}

.area-div:after {
  position: absolute;
  bottom: -5px;
  left: -9%;
  content: "";
  display: block;
  height: 6px;
  width: 35px;
  background: white;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
}
.slick-prev {
  left: 3% !important;
  z-index: 1;
}

.chakra-spinner {
  display: block !important;
  margin: auto;
  width: min-content;
}

.mobile-menu-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  z-index: 2;
  background-color: white;
  margin-top: 30px;
}

@media screen and (min-width: 721px) {
  .mobile-menu-background {
    display: none;
  }
}

.ol-map {
  min-width: fit-content;
  min-height: fit-content;
  height: 300px;
  width: "100%";
}
.ol-control {
  position: absolute;
  background-color: rgb(5 129 235 / 57%);
  padding: 2px;
}
.fullscreen {
  margin-bottom: 10px;
  width: 100%;
}

.fullscreen:fullscreen .ol-map {
  width: 100%;
  height: 100%;
}

.ol-full-screen {
  position: absolute;
  right: 0;
  bottom: 0;
}
.ol-full-screen-false {
  line-height: 0;
  height: 20px;
  font-size: xx-large;
}
.ol-full-screen-true {
  line-height: 0;
  height: 20px;
  font-size: xx-large;
}
.ol-zoom {
  display: none;
}
.ol-rotate {
  display: none;
}

.leaflet-container {
  height: 300px;
  width: 100%;
}

.privacy-policy-container a {
  text-decoration: underline;
  color: darkgoldenrod;
}

.privacy-policy-container a:visited {
  color: rgb(25, 25, 177);
}
